.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  
  .login-form label {
    margin: 10px;
    font-size: 18px;
    font-weight: bold;
  }
  
  .login-form input[type="text"],
  .login-form input[type="password"] {
    margin: 10px;
    padding: 5px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  }
  
  .login-form button {
    margin: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  }
  
  .login-form button:hover {
    background-color: #0062cc;
  }
  